:root {
  --font-jost: "Jost", sans-serif, "Helvetica";

  --color-primary: #225;
  --color-secondary: #ddd;
  --color-accent: gold;
  --color-background: #111;
  --color-gradient: radial-gradient(circle, #0b014d, #04040f);
  --color-hover: #71d30044;
  --color-border: #ccc;
  --color-shadow: #fff;
  --color-info: #00a9e2;
  --color-text: #fff;
}

* {
  font-family: var(--font-jost);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: normal;
 
}

html {
  scroll-behavior: smooth;
  
}

body {
  color: var(--color-secondary);
  background-image: var(--color-gradient);
  font-size: 16px;
}

.header-container{
  width: 100%;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 50px;
  z-index: 999;
  transition: 0.3s;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  
}

.nav-show {
  opacity: 0;
}


.header-container:hover{
  opacity: 1;
  background: var(--color-gradient);
}

header h2 {
  font-size: 1.6rem;
  color: var(--color-text);
  position: relative;
}

header h2::after {
  content: "";
  position: absolute;
  background-color: var(--color-accent);
  width: 70%;
  height: 1.5px;
  bottom: 1px;
  right: 0;
  left: 0;
  margin-inline: auto;
}
.all-section-container{
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 10px;
}
.home {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-text);
  text-wrap: balance;
  z-index: 2;
}

nav a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.12rem;
  margin: 3px 10px;
  position: relative;
  
}

 nav a::after, .important-links a::after  {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-accent);
  bottom: -1px;
  left: 0;
  transform: scaleX(0.5);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
nav a:hover::after{
  transform: scaleX(1);
}


.important-links ul li a{
  position: relative;
}
.important-links a::after{
  transform: scaleX(0);
  transform-origin: right;

}

.important-links a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

.about,
.skills,
.projects,
.contact {
  margin: 100px auto;
  width: 100%;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  justify-content: center;
  align-items: center;
}

.about-content .hero img {
  width: 280px;
  height: 280px;
  border-radius: 6px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.about-content p {
  padding-bottom: 20px;
}

aside p span {
  color: gray;
  font-size: 1.2rem;
}

aside a {
  cursor: pointer;
  background: var(--color-primary);
  border: 1px solid #ccc;
  text-decoration: none;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 0.5rem;
  padding: 6px;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

aside a:hover {
  transform: scale(1.01);
}



.section-title {
  text-align: center;
  margin: 50px auto;
  font-size: 40px;

  background-image: linear-gradient(90deg, #225, #fff);
  -webkit-background-clip: text;
  color: transparent;
}

hr {
  margin: 2px;
  width: 150px;
  border-radius: 5px;
  background: linear-gradient(to right, #fff 50%, #225 50%);
  height: 4px;
  border: hidden;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: auto;
  width: 100%;
}

.skills p {
  margin: 50px auto;
  max-width: 100%;
  text-wrap: balance;
  font-size: 1rem;
}

.skills-content span {
  color: var(--color-text);
  margin: 3px auto;
  font-weight: 500;
  font-size: 0.9rem;
}

.skills-content .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  flex: 0 0 100px;
  background: #225;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.skills-content .card:hover {
  box-shadow: 1px 1px 3px var(--color-shadow);
  transform: scale(1.05);
}

.skills-content img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  filter: invert(1);
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-desc {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  
  margin: 0 30px;
}

.container .card .face {
  width: 300px;
  height: 230px;
  transition: 0.5s;
  
}

.container .card .face.face1 {
  position: relative;
  background: #225;
  display: flex;

  z-index: 1;
  transform: translateY(130px);
}

.container .card:hover .face.face1 {
  background: #225;
  transform: translateY(0);
  
}

.container .card .face.face1 .content {
  opacity: 0.7;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
  
}

.container .card .face.face1 .content img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  aspect-ratio: 16/9;
  
}

.container .card .face.face1 .content h3, .face.face2 h3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  transition: 0.5s ;
}

.container .card .face.face2 {
  position: relative;
  background-color: #22222280;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}



.container .card:hover .face.face2 {
  transform: translateY(0);
}
.face.face2 h3{
   opacity: 1;
   
}

.container .card:hover .face.face2 h3 {
  opacity: 1;
}

.container .card:hover .face.face1 h3 {
  opacity: 0;
}

.container .card:hover .face.face1 img {
  height: 100%;
}

.container .card .face.face2 .content p {
  margin: 5px 0;
  padding: 0;
  color: #ccc;
}



.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #bfbbbb;
  padding: 5px;
  
}



.card .links {
  display: flex;
  justify-content: space-between;
}
.content p {
  padding: 5px 0;
}


.content p strong, .content p span {
  color: #fff;
}

#contact {
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  position: relative;
  width: 100%;
  z-index: 99;
  margin-bottom: 0;
  padding-bottom: 100px;
  
  /*background-color: var(--color-gradient);*/
 background: var(--color-gradient);
 
}

#contact h3 {
  padding: 50px 0;
}
#contact > * {
  max-width: 800px;
  padding: 10px;
  text-wrap: balance;
  width: 90%;
  margin: auto;
  z-index: 99;
}

#contact p {
  font-size: 1rem;
  padding: 20px 10px;
  font-weight: normal;
  
}
#contact p a {
  text-decoration: none;
  color: var(--color-info);
}

footer {
  position: relative;
  width: 100%;
  background: var(--color-gradient);
  
}

.footer-content{
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 90%;
  padding: 20px 30px;
  
}

.footer-copyright {
  border-top: 1px solid #9085f7;
  padding: 10px 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}


.footer-copyright a {
  text-decoration: none;
  color: #b0b0e9;
  font-size: 1rem;
  font-weight: bold;
  
}

.footer-copyright a:hover {
  color: var(--color-info);
}
.important-icons{
  gap: 1.3rem!important;
}
.important-links ul, .important-icons{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.important-links li, .important-icons li{
  list-style: none;
}

.important-links a, .important-icons a, .intro .social-media a{
  text-decoration: none;
  color: #fff;
  color: #b0b0e9;
  cursor: pointer;
}

.social-media {
  padding: 5px 10px;
  display: flex;
  align-items: space-around;
  justify-content: center;
}

.social-media a{
  margin: 10px;
  display: flex;
  justify-content: center;
}

.social-media a img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
}

.social-media a img:hover
{
  box-shadow: 0 0 50px var(--color-info);
}




.intro > * {
  text-align: left;
  
  margin: 15px auto;
  max-width: 400px;
  font-family: var(--font-jost);
  
  
}

.intro .social-media{
  justify-content: end;
  padding-right: 0;
  
}
.intro .social-media a{
  font-size: 2rem;
  margin-right: 0;
  margin-left: 15px;
  margin-top: 0;
}
.intro .social-media a:first-child{
  border-left: 1px solid #fff;
  padding-left: 15px;
}

.intro h2{
  text-align: end;
  
}

.intro h3 {
  font-size: 1rem;
  background-image: linear-gradient(90deg, white, yellow);
  -webkit-background-clip: text;
  color: transparent;
  text-align: end;
}

.intro p {
  font-weight: 400;
  font-size: 1.12rem;
  margin-top: 3rem;
  text-wrap: balance;
  
}
.intro p::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: -10px;
  left: 0;
  background-color: #fff;
  
}

.intro h2 span {
  color: #b0b0e9;
  font-weight: 700;
  font-size: 2.1rem;
 
}

.intro .more-about-btn {
  text-decoration: none;
  cursor: pointer;
  margin-top: 25px;
  display: block;
  padding: 5px;
  max-width: 220px;
  margin: 0!important;
  color: #fff;
  border-radius: 4px;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--color-text);
  background-color: #225;
  font-weight: bold;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.intro .more-about-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  height: 100%;
  background-color: #00000088;
  transition: width 0.3s ease;
  z-index: -1;
}

.intro .more-about-btn:hover::before {
  width: 100%;
}

.intro .more-about-btn:hover {
  outline-width: 3px;
  transform: scale(1.04);
}

.form-container {
  max-width: 650px;
  margin: 20px auto;
  width: 100%;
  border-radius: 4px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 550px;
  width: 100%;
  margin: auto;
}

form input,
form textarea {
  border: hidden;
  border-radius: 2px;
  padding: 10px;
  outline: 2px solid var(--color-text);
  background-color: transparent;
  color: var(--color-text);
  font-size: 1.1rem;
}




form input:invalid,
textarea:invalid {
  outline: 2px solid red;
}




form label {
  font-size: 1.2rem;
}

form input[type="button"] {
  outline: none!important;
  margin: 15px 0;
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-text);
  background-color: #0000ff88;
  cursor: pointer;
  
}

form input[type="button"]:hover {
  background-color: #0000ff99;
  box-shadow: 1px 1px 1px #808080, 1px 1px 2px #808080, 1px 1px 5px #808080;

}

.skills p,
.projects-desc,
.contact p {
  text-align: center;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background);
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  z-index: 1;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-out.hidden {
  opacity: 0;
  transform: translateY(20px);
}

@media (max-width: 760px) {
  .skills p,
  .projects p,
  .contact p {
    text-align: left;
    width: 100%;
  }
  
  .about-content .hero img{
    width: 100%;
  }
  
  nav ul {
    position: fixed;
    top: 61px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    transform: translateX(100%);
    width: 35%;
    background: var(--color-gradient);
    height: calc(100vh - 50px);
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    gap: 5rem;
    
  }
 
 nav ul li{
   width: 70px;
   margin-inline:  auto;
 }
 

 
  
  
  nav ul.show {
    transform: translateX(0%);
    z-index: 9999;
  }
  
  nav a{
    margin: 0;
    
  }

  #burger-button {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  #burger-button > * {
    width: 35px;
    height: 2px;
    background-color: var(--color-text);
    transition: all 0.3s ease;
  }

  .show .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .show .line2 {
    opacity: 0;
  }

  .show .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  

  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    
  }
  
  #contact p{
    text-wrap: wrap;
  }
  
  .footer-content{
    padding: 20px 10px;
    grid-template-columns: 1fr;
    align-items: start;
  }
  
  
  
  .important-links ul, .important-icons{
    justify-content: start;
  }
}
